<div class="flex flex-col space-y-4">
  <div class="section center-section">
    <h2>Demo App</h2>

    <p>
      This is a small rewards card demo app.
    </p>
  </div>

  <div class="section center-section">
    <%= link_to("Log in", new_user_session_path, class: "btn") %>
  </div>
</div>
