@import "tailwindcss";

@layer components {
  :root {
    --theme-color: #171717;
    --bg-color: var(--color-amber-600);
  }

  body {
    @apply font-sans;

    background: linear-gradient(to bottom, #F7F7F8 50%, var(--bg-color) 100%) no-repeat fixed;
  }

  a {
    @apply text-sky-800 no-underline;
  }

  .disclosure {
    @apply border border-gray-200 p-8 rounded-md bg-white text-gray-500 text-md text-center justify-center;
  }

  .disclosure-error {
    @apply border-red-400;
  }

  .page-header {
    @apply h-16 py-2 px-4 bg-(--bg-color);
  }

  .page-header a {
    @apply py-3 no-underline text-white;
  }

  .center-section {
    @apply md:m-auto w-96;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  form .field {
    @apply p-8;
  }

  form .field em {
    @apply text-sm text-gray-500;
  }

  form label {
    @apply font-bold text-gray-500;
  }

  form input[type="text"], form input[type="email"], form input[type="password"] {
    @apply border border-gray-200 p-2 rounded-md bg-white w-96;
  }

  form input[type="submit"] {
    @apply text-lg text-white p-2 rounded-md bg-orange-500 w-96 inline-block text-center mx-8;
  }

  .btn {
    @apply text-lg text-white p-2 rounded-md bg-orange-500 w-96 inline-block text-center;
  }

  .btn-cancel {
    @apply text-lg text-gray-600 hover:text-gray-50 p-2 rounded-md bg-gray-200 hover:bg-gray-500 w-96 inline-block text-center;
  }

  .btn-redeem {
    @apply outline-2 outline-offset-2 hover:outline-orange-400 hover:border-orange-500;
  }
}
